<?xml version="1.0" encoding="UTF-8"?>
<div class="navbar-nav">
  <a class="nav-link active" href="index.html">Einführung</a>
  
  <a class="nav-link" href="releasenotes.html">ReleaseNotes</a>
  
  <a class="nav-link" href="spezifikation.html">Spezifikation</a>
  
  <a class="nav-link" href="festlegungen.html">Festlegungen</a>
  
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Artefakte
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="artifacts.html">Alle Artefakte</a></li>
      <li><hr class="dropdown-divider"/></li>
      <li><a class="dropdown-item" href="profiles.html">Profile</a></li>
      <li><a class="dropdown-item" href="capabilitystatements.html">CapabilityStatements</a></li>
    </ul>
  </div>
</div>
